.wrapper{
    box-sizing: border-box;
    background: rgb(17, 96, 96);
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 1rem;
}

.descriptionWrapper{
    display: flex;
    justify-content: space-evenly;
}

.description{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    color: rgb(3, 43, 43);
    gap: 0.5rem;
}

.description p{
    color: rgb(221, 238, 238);
}

.description button{
    background-color: rgb(161, 254, 254);
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font-weight: bold;
    margin-top: 2rem;
}

.description button:hover{
    cursor: pointer;
    background-color: bisque;
}

.link{
    color: teal;
    text-decoration: none;
}

.stats{
    display: flex;
    gap: 1.5rem;
}

.stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats div section{
    color: rgb(221, 238, 238);
}

.photo{
    height: 12rem;
    width: 9rem;
    box-shadow: 0.2rem 0.2rem rgb(161, 254, 254);
    border-radius: 4rem;
}

.photo1{
    display: flex;
    align-items: flex-start;
}

.photo2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo3{
    display: flex;
    align-items: flex-end;
}

.photos{
    display: flex;
    gap: 0.3rem;
}

.trainingPrograms{
    color: rgb(3, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding: 0 3rem;
    gap: 2rem;
}

.programsOffered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.bodyBuilding{
    background-image: url('./ProgramData/images/bodyBuilding.jpg');
    background-size: contain;
    height: 15rem;
    width: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69, 231, 231);
    box-shadow: 0.01rem 0.01rem 4rem rgb(27, 221, 221) inset,  0.1rem 0.1rem rgb(20, 33, 33);
}

.crossFit{
    background-image: url('./ProgramData/images/crossFit.jpg');
    background-size: contain;
    height: 15rem;
    width: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69, 231, 231);
    box-shadow: 0.1rem 0.1rem 4rem rgba(106, 234, 234, 0.475) inset, 0.1rem 0.1rem rgb(161, 254, 254);
}

.barre{
    background-image: url('./ProgramData/images/barre.jpg');
    background-size: contain;
    height: 15rem;
    width: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    box-shadow: 0.1rem 0.1rem 4rem rgb(27, 221, 221) inset,  0.1rem 0.1rem rgb(20, 33, 33);
}

.cardio{
    background-image: url('./ProgramData/images/cardio.jpg');
    background-size: contain;
    height: 15rem;
    width: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69, 231, 231);
    box-shadow: 0.1rem 0.1rem 4rem rgba(106, 234, 234, 0.475) inset, 0.1rem 0.1rem rgb(20, 33, 33);
}

.flexibility{
    background-image: url('./ProgramData/images/flexibility.jpg');
    background-size: contain;
    height: 15rem;
    width: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0.1rem 0.1rem 4rem rgb(27, 221, 221) inset,  0.1rem 0.1rem rgb(20, 33, 33);
}

.yoga{
    background-image: url('./ProgramData/images/yoga.jpg');
    background-size: contain;
    height: 15rem;
    width: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0.1rem 0.1rem 4rem rgba(106, 234, 234, 0.475) inset, 0.1rem 0.1rem rgb(20, 33, 33);
}

.aerobic{
    background-image: url('./ProgramData/images/aerobic.jpg');
    background-size: contain;
    height: 15rem;
    width: 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69, 231, 231);
    box-shadow: 0.1rem 0.1rem 4rem rgb(27, 221, 221) inset,  0.1rem 0.1rem rgb(20, 33, 33);
}

@media screen and (width < 500px) {
    
    .photos{
        display: none;
    }

    .descriptionWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}

@media screen and (500px <= width < 900px){

    .descriptionWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}