*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  position: sticky;
  top: 0;
}

.home{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

